# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objetives**:

* List popular languages for Data Science
* List of commonly libraries in Data Science
* Examples of arithmetic in python

Some of the popular languages that Data Scientists use are:
1. Python 
2. Julia
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. scikit-learn
2. matplotlib
3. keras
4. tensorflow
5. pandas

| *Data Science Tools* | 
|:-------------:|
|     RStudio     |
|     Hadoop     |
|      Jupyterlab     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
x = (3*4)+5
print('The result is: ', x)
#This a simple arithmetic expression to mutiply then add integers

The result is:  17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
min_in_hour = 60
print('The amount of hours in 200 minutes time interval: ', minutes/min_in_hour)

The amount of hours in 200 minutes time interval:  3.3333333333333335

## Author:
David Gregorio